

.login-background{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('./lbg-sm.jpg');
    background-position: center;
}

#login-buttons .btn{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color:#f1fcfc;
    font-size: 20px;
    width: 50%;
    /* box-shadow: 3px 3px 7px black; */
    position: absolute;
    /* border:solid 1px; */
}

#login-button{
    color: #1b2a49;
    top:30%;
    left:25%;
}

#signup-button{
    color: #b21f66;
    top:40%;
    right: 25%;
}

#welcome{
    position: absolute;
    top:8%;
    left:26%;
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Merienda One', cursive;
    color: #e8f044 ;
    text-shadow:3px 2px black;
}
 
#login-form{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    padding-top:50px;
    padding-bottom:10px;
    position: relative;
    top:15%;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 30px;
}

#login-form .btn{
    background-color: #ecfcff;
    left:5%;
    width:5rem;
    padding:0px;
}

#login-form .google-btn{
    margin-top: 0;
    position: relative;
    background-color: red;
}

.form-group .btn{
    margin-top: 5%;
    right:20%
}

#signup-form{
    background-color: rgba(0, 0, 0, 0.384);
    padding: 20px;
    position: relative;
    top: 5%;
    border-radius: 25px;
}

#signup-form label{
    font-weight: bold;
    color: #ecfcff;
}
#login-form .login-button{
    color:blue;
    position: absolute;
    right:10rem;
}
#login-form .signup-button{
    color:red;
    position: relative;
    left:8rem;
}

#confirm-password-incorrect{
    border:solid red 2px;
}

#confirm-password-correct{
    border:solid green 2px;
}

#signup-form span{
    color:#f67280;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 0px;
    
}

#new-password-incorrect{
    border:solid red 2px
}

#new-password-correct{
    border:solid green 2px
}

@media only screen and (min-device-width: 480px) {
    .login-background{
        background-image: url('./login-background.jpg');
    }

    #login-button{
        padding: 3px;
        font-size: 30px;
        left:75%;
        top:5%;
        width: 10rem;
    }

    #login-buttons .btn{
        width: 6rem;
    }

    

    #signup-button{
        font-size: 30px;
        padding: 3px;
        width: 10rem;
        left:85%;
        top:5%;
    }

    #welcome{
        font-size: 5rem;
        left:40%
    }

    #login-form{
        left: 35%;
    }

    #signup-form{
        left:30%
    }
}
