

.login-background{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('./lbg-sm.jpg');
}

#login-button{
    font-family: 'Sriracha', cursive;
    background-color:transparent;
    color: #b21f66;
    font-size: 20px;
    width: 50%;
    position: absolute;
    top:30%;
    left:25%;
    border:solid 1px;
    box-shadow: 3px 3px 7px black;

}

#signup-button{
    font-family: 'Sriracha', cursive;
    color: #1b2a49;
    background-color: transparent;
    font-size: 20px;
    width: 50%;
    position: absolute;
    top:40%;
    right: 25%;
    border:solid 1px;
    box-shadow: 3px 3px 7px black;
}

#welcome{
    position: relative;
    top:15%;
    left:28%;
    display: inline;
    font-family: 'Merienda One', cursive;
    color: white;
}
 

@media only screen and (min-device-width: 480px) {
    .login-background{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-image: url('./login-background.jpg');
    }

    #login-button{
        padding: 3px;
        font-size: 30px;
        position: absolute;
        left:35%;
        top:40%;
        width: 10rem;
    }

    #signup-button{
        font-size: 30px;
        padding: 3px;
        width: 10rem;
        position: absolute;
        left:55%;
        top:40%;
    }
    #welcome{
        font-size: 5rem;
        left:40%
    }
}
